* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* //common classes for heading, paragraph & margin-bottom/// */

.heading-design {
  font-size: 40px;
  color: rgb(97, 96, 96);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.paragraph-design {
  color: rgb(165, 165, 165);
  font-size: 16px;
  padding: 0 5%;
  margin-bottom: 30px;
  font-weight: 400;
}

.gap-bottom {
  margin-bottom: 50px;
}

/* ////////////
Header Banner Section//////// */
#header-banner {
  background-image: url("images/one-donation.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 80px;
}

.header-banner-top {
  padding: 100px 20%;
  /* margin: 0 20%; */
}

.header-banner-top h1 {
  font-size: 70px;
  color: #ffff;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.header-banner-top p {
  color: #ffff;
  font-size: 18px;
  padding: 0 10%;
  margin-bottom: 100px;
}

.button {
  background-image: linear-gradient(#67bcee, rgb(216, 121, 253));
  text-decoration: none;
  color: #ffff;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

/* ////////////
spread your hands//////// */

#spread-your-hands {
  text-align: center;
  padding: 0 30%;
  margin-bottom: 120px;
}

#spread-your-hands ul li {
  list-style: none;
  display: inline-block;
  background-color: #fafafa;
  padding: 30px 20px;
  color: rgb(97, 97, 97);
  margin-right: 20px;

  font-weight: 600;
}

#spread-your-hands ul li:nth-child(2) {
  background: rgb(201, 241, 253);
  border: 2px solid #67bcee;
}

.amount {
  margin-bottom: 50px;
}

.amount input {
  border-style: none;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.button-two {
  background-image: linear-gradient(#67bcee, rgb(216, 121, 253));
  text-decoration: none;
  color: #ffff;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 100px;
}

/* ////////////
our donate program//////// */

#our-donate-program {
  text-align: center;
  padding: 0 22%;
  margin-bottom: 150px;
}

/* this is first paragraph id design
in our-donate-program section*/
#paragraph-design {
  color: rgb(165, 165, 165);
  font-size: 16px;
  padding: 0 10%;
  margin-bottom: 50px;
  font-weight: 400;
  padding: 0 15%;
}

.three-program {
  display: flex;
  padding-right: 20px;
  text-align: left;
}

.three-program img {
  width: 50px;
  margin-bottom: 15px;
}

.three-program h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #535555;
  text-transform: capitalize;
}

.three-program p {
  color: #838383;
  font-weight: 400;
}

.three-program-design {
  padding: 60px 30px;
  margin-right: 20px;
  width: 50%;
}
.healthy-food {
  background-color: #edf5f6;
  border-radius: 5px;
}

.shelter-famliy {
  background-color: #ffeeee;
  border-radius: 5px;
}

.education {
  background-color: #fff4d6;
  border-radius: 5px;
}

/* ////////////
enlarge-your-hands//////// */
#enlarge-your-hands {
  padding: 0 20%;
  margin-bottom: 50px;
}
.text {
  text-align: center;
}

.donate-bar {
  display: flex;
}
.donate-bar-leftside img {
  width: 100%;
}
.donate-bar-rightside {
  background-color: rgb(185, 229, 255);
  width: 60%;
  height: auto;
  padding-left: 50px;
  padding-top: 50px;
}

.donate-bar-rightside h2 {
  font-size: 35px;
  color: #575757;
  margin-bottom: 45px;
}
.donate-bar-rightside p {
  font-size: 15px;
  color: #575757;
  margin-top: 30px;
  margin-bottom: 5px;
}

.status {
  background-color: #ffffff;
  margin-right: 50px;
  border: 1px solid rgb(0, 183, 255);
}

.status-bar {
  width: 75%;
  background-color: #b35bc5;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 700;
  color: #edf5f6;
}

.status span {
  padding-left: 50%;
}

.donate-bar-rightside h6 {
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #797878;
  width: 92%;
}

.button-two {
  margin-top: 100px;
  background-image: linear-gradient(#67bcee, rgb(216, 121, 253));
  text-decoration: none;
  color: #ffff;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
}
/* ////////////
get our update//////// */

#get-our-update {
  text-align: center;
  padding: 5% 30%;
}

.subscribe {
  margin: auto;
  background-color: #b6e1fa;
  padding: 80px 200px;
  display: flex;
}

.subscribe input {
  padding: 10px 50px;
  text-align: left;
  outline: none;
}

.subscribe a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #a85ab8;
  margin-left: -20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
}

/* ////////////
Footer design//////// */

#footer-part {
  background-color: #000000;
  text-align: center;
  padding: 50px 0;
}

#footer-part h1 {
  text-transform: capitalize;
  color: rgb(51, 158, 201);
  font-family: "Lobster", cursive;
  font-size: 60px;
}
#footer-part p {
  color: #fff;
}
